.block {
  width: 100vm;
  height: 720px;
  background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 412px;
    height: 540px;

    background: #F9F9FE;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .forgot {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;

      color: #2D2E46;
    }

    .inputContainer {
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .email {
        /* position: absolute;*/
        width: 347px;
        height: 48px;
        left: 467px;
        top: 330px;

        font-family: 'SF UI Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */


        color: #2D2E46;

        opacity: 0.5;
      }
    }
    .remember {
      /* position: absolute;*/
      width: 241px;
      height: 24px;
      left: 520px;
      top: 534px;

      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      text-align: center;

      color: #2D2E46;

      opacity: 0.5;
    }

    .tryLogIn {
      /*position: absolute;*/
      width: 98px;
      height: 24px;
      left: 591px;
      top: 569px;

      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      text-align: center;

      color: #21268F;
    }


  }
}


