.block {
  width: 100vm;
  height: 720px;
  background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    /*    position: absolute;*/
    width: 412px;
    height: 540px;
/*    padding-top: 96px;*/
/*    left: 50%;
    margin-left: -206px;*/
    /*top: 84px;*/

    background: #F9F9FE;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .forgot {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;

      color: #2D2E46;
    }
    & input {
      width: 347px;
      height: 48px;

      background: transparent;
      border: transparent;
      border-bottom: 2px solid #24254A;;
      opacity: 0.2;
      font-size: 16px;
           & input::placeholder {

             font-family: 'SF UI Display';
  /*             font-style: normal;*/
             font-weight: 500;
             font-size: 16px;
             line-height: 24px;
             /* identical to box height, or 150% */

/*             display: flex;
             align-items: center;*/

             color: #2D2E46;

             opacity: 0.5;
           }
    }

    .remember {
      /* position: absolute;*/
      width: 241px;
      height: 24px;
      left: 520px;
      top: 534px;

      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      text-align: center;

      color: #2D2E46;

      opacity: 0.5;
    }

    .tryLogIn {
      /*position: absolute;*/
      width: 98px;
      height: 24px;
      left: 591px;
      top: 569px;

      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      text-align: center;

      color: #21268F;
    }

    .email {
      /* position: absolute;*/
      width: 347px;
      height: 48px;
      left: 467px;
      top: 330px;

      font-family: 'SF UI Display';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */


      color: #2D2E46;

      opacity: 0.5;
    }
  }
}


